.index_body {
    background-image: url("/image/black.jpg");
    border-style: solid;
    color: #fffffd;

}

.body_2 {
    background-image: url("/image/metalic.jpg");
    background-attachment: fixed;
    background-repeat: repeat-x;
    color: #fffffd;
}


* {
    font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}


h1 {
    color: rgb(255, 255, 255);
    margin: 20px auto 100px;
    width: 200px;
    text-align: center;

}

#wrapper {
    position: absolute;
    width: 320px;
    left: 50%;
    margin-left: -160px;
    top: 50%;
    margin-top: -75px;
}

/* === Sign in Form === */
#signin {
    height: 90px;
    width: 300px;
    border-radius: 8px;
    position: relative;
}

#signin::before {
    display: block;
    position: relative;
    height: 2px;
    background: rgb(52, 56, 61);
    content: '';
    top: 44px;
    margin-left: 20px;
    z-index: 1;
}

#signin input:first-of-type {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#signin input:last-of-type {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

#signin input[type="text"], #signin input[type="password"], #signin button[type="submit"] {
    background: rgb(28, 30, 33);
    box-shadow: inset -100px -100px 0 rgb(28, 30, 33); /*Prevent yellow autofill color*/
    color: rgb(52, 56, 61);
}

#signin input[type="text"], #signin input[type="password"] {
    position: relative;
    display: block;
    width: 280px;
    height: 45px;
    border: 0;
    outline: 0;
    top: -2px;
    padding: 0 0 0 20px;
    font-weight: 700;
}

#signin input[type="text"]:focus, #signin input[type="password"]:focus {
    color: rgb(255, 255, 255);
}

#signin button[type="submit"] {
    display: block;
    position: absolute;
    width: 52px;
    height: 52px;
    color: rgb(52, 56, 61);
    border-radius: 50px;
    outline: 0;
    z-index: 2;
    top: 19px;
    right: -24px;
    border: 6px solid rgb(52, 56, 61);
    font-size: 25px;
    text-indent: 0px;
    padding-left: 9px;
    padding-bottom: 3px;
    text-align: center;

}

#signin button[type="submit"]:hover {
    color: rgb(0, 126, 165);
    text-shadow: 0 0 10px rgb(0, 126, 165);
    cursor: pointer;
}

#signin p {
    color: rgb(79, 85, 97);
    padding: 0 20px;
    font-weight: 700;
    font-size: 12px;
    margin: 5px 0 0 0;
}

#signin p > a {
    color: rgb(111, 119, 135);
    text-decoration: none;
}

#signin p > a:hover {
    border-bottom: 1px solid;
}

a {
    font-size: 50px;
    color: #021a8e; /* Цвет обычной ссылки */
    text-decoration: none; /* Убираем подчёркивание у ссылок */
}

a :visited {
    color: #ce1515; /* Цвет посещённой ссылки */
}

a:hover {
    color: #d70000; /* Цвет ссылки при наведении */
}

.todo_photo {
    border: 2px blue solid;
    border-radius: 50%;
    width: 80px;
    height: 80px;

}

.changeTaskStatus_getStatus {
    margin-top: 10px;
}

.changeTaskStatus {
    margin-top: -25px;
    margin-left: 130px;
}

.changeTaskImage_block {
    margin-left: -40px;
}

.changeTaskImage {
    margin-top: -60px;
    margin-left: 95px;
}

ul li {
    list-style: none;
    font-size: 20px;
    font-family: consolas;

}

.logout {
    margin-left: 94%;
    marker-top: 0%;
    font-size: 25px;
}

.user_photo {
    border: 2px blue solid;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin-left: -10px;
}

.user {
    top: 0;
    margin-left: 45%;
    margin-top: -40px;
}

.left_todo {
    margin-left: 750px;
    margin-top: -260px;

}

.right_todo {
    margin-left: 50px;
    width: 50%;

}

.left_todo2 {
    margin-left: 750px;
    margin-top: -370px;
}

.right_todo2 {
    margin-left: 50px;
    height: 300px;
    width: 50%;
}

.delete {
    font-size: 30px;
    color: #ce1515;
}

.delete :visited {
    color: #380202; /* Цвет посещённой ссылки */
}

.register {
    margin-top: -370px;
    margin-left: 400px;
}

.add_todo {
    margin-top: -445px;
    margin-left: 800px;
}

.input_for_admin {
    margin-top: 45px;
    height: 40px;
    width: 280px;
    border: 1px black dotted;
}


.control {
    border: 2px red dotted;
    height: 600px;
}

.control2 {
    width: 700px;
    border: #ce1515 1px inset;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.for_comment_photo {
    margin-left: 305px;
}

.for_h2 {
    margin-left: 130px;
    margin-top: -90px;
}

.comment_block {
    font-size: 20px;
    margin-top: 50px;
}
